
{% extends 'core/base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row p-0">
        <div class="col-12 p-0 mb-3 text-center d-flex justify-content-center">
            <input  type="text" class="form-control custom-input" 
                    aria-label="Sizing example input" 
                    placeholder="Search category..."
                    aria-describedby="inputGroup-sizing-lg"
            />
        </div>
        {% for category in object_list %}
            <div class="col-12 col-md-6 col-xl-3 border my-1 py-2 p-0">
                <h3>{{ category.name }}</h3>
                <p>Sub Categories: {{ category.subcategory_set.count }}</p>
                <a href="{% url 'category-detail' category.id %}" 
                    class="btn btn-danger text-white mr-0">
                    View
                </a>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}