
{% extends 'core/base.html' %}
{% load static %}

{% block content %}


<div class="container">
    <div class="row p-0">

        <div class="col-12">
            <h1>{{ object }}</h1>
        </div>
        {% if material.video %}
            <video class="video-player" controls>
            
                <source src="{{ material.video.url }}" type="video/mp4">
            </video>
        {% endif %}
            <hr />

       
        <a href="{% url 'categories' %}" 
            class="btn btn-danger text-white mr-0">
            Back
        </a>
    </div>
</div>
{% endblock %}